.FriendsPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.friends{
  max-width: 300px;
}

.friend-image{
  height: auto;
  max-width: 100%;
}

.img1{
  max-width: 20px;
  margin: 0 auto;
  margin-left: 50px;
}

.img2{
  max-width: 20px;
  margin: 0 auto;
  margin-right: 50px;
}

.friend-name {
  color: white;
  text-align: center;
  background-color: #4A6FA5; 
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  max-width: 200px;
}

.custom-arrow-PREV,
.custom-arrow-NEXT {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination-container {
  margin: 20px 0;
}

.custom-pagination-dot {
  width: 12px;
  height: 14px;
  border: 1px solid #00272B;
  background-color: transparent;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.custom-pagination-dot.active {
  background-color: #00272B;
}