.GroupsPage-carousel-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.GroupsPage-group-pair-container{
    display: block;
}
.GroupsPage-group-container{
    margin-block-start: 50px;
    margin-block-end: 10px;
}
