.GroupCreateMenu-container {
  width: 100%;
  max-width: 550px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #000000;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .GroupCreateMenu-container {
    padding: 10px;
  }
  .GroupCreateMenu-title,
  .GroupCreateMenu-label,
  .GroupCreateMenu-button {
    font-size: 0.8rem;
  }
  .GroupCreateMenu-input,
  .GroupCreateMenu-button {
    padding: 5px;
  }
  .GroupCreateMenu-membersContainer {
    gap: 5px;
  }
  .GroupCreateMenu-member {
    width: 30px;
    height: 30px;
  }
}

.GroupCreateMenu-title {
  margin: 0;
  color: black;
}

.GroupCreateMenu-fieldContainer {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GroupCreateMenu-label {
  color: black;
}

.GroupCreateMenu-input {
  flex-grow: 0;
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  width: 80%;
}

.GroupCreateMenu-membersContainer {
  display: flex;
  gap: 10px;
  margin-left: 0px;
}

.GroupCreateMenu-member {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.GroupCreateMenu-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #c1ff72;
  color: black;
  cursor: pointer;
  margin-top: auto;
}
