.container {
  width: 100%;
  max-width: 550px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #000000;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .title, .label, .button {
    font-size: 0.8rem;
  }
  .input, .button {
    padding: 5px;
  }
  .membersContainer {
    gap: 5px;
  }
  .member {
    width: 30px;
    height: 30px;
  }
}
  
  .title {
    margin: 0;
    color: black;
  }
  
  .fieldContainer {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .label {
    color: black;
  }
  
  .input {
    flex-grow: 1;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    outline: none;
  }
  
  .membersContainer {
    display: flex;
    gap: 10px;
    margin-left: 0px;
  }
  
  .member {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #C1FF72;
    color: black;
    cursor: pointer;
    margin-top: auto;
  }
  