.timetable-calendar {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  table-layout: fixed;
  border: 0.5px solid black;
  text-align: center;
  border-collapse: collapse;
}

.timetable-todaycol {
  background-color: #F4E6F7;
}