.toolbar {
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: rgb(70, 111, 161);*/
  height: 80px;
}

.toolbar_navigator {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.toolbar_logo {
  margin-left: 20%;
}

.toolbar_logo img {
  max-width: 45%;
  height: auto;
}

.toolbar_logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar_navigation-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.25rem;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: var(--blue);
}

@media screen and (max-width: 992px) {
  .toolbar_navigation-disable {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .spacer {
    flex: 1;
  }

  .toggle-btn {
    display: none;
  }

  .toolbar_logo {
    margin-left: 1rem;
  }
}
