.bordercell {
  border: 0.5px solid black;
}

.lrbordercell {
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
}

.upbordercell {
  border-top: 0.5px solid black;
}

.downbordercell {
  border-bottom: 0.5px solid black;
}
